Repository Nexus-Mods/NexusMods.App, pull requests merged in 2024-04, with the labels that each got.

#1152 Protocol registration fixes on Linux
  NexusMods.App.sln.DotSettings
  src/NexusMods.CrossPlatform/NexusMods.CrossPlatform.csproj
  src/NexusMods.CrossPlatform/Process/ProcessFactory.cs
  src/NexusMods.CrossPlatform/ProtocolRegistration/ProtocolRegistrationLinux.cs
Labels: os-linux

#1211 Save/load settings
  src/Abstractions/NexusMods.Abstractions.FileExtractor/IFileExtractorSettings.cs
  src/Abstractions/NexusMods.Abstractions.Serialization/NexusMods.Abstractions.Serialization.csproj
  src/Abstractions/NexusMods.Abstractions.Serialization/Settings/Extensions.cs
  src/Abstractions/NexusMods.Abstractions.Settings/DefaultSettingsStorageBackend.cs
  src/Abstractions/NexusMods.Abstractions.Settings/ISettingsStorageBackend.cs
  src/Abstractions/NexusMods.Abstractions.Settings/ServiceExtensions.cs
  src/Abstractions/NexusMods.Abstractions.Settings/SettingsBuilder/IPropertyUIBuilder.cs
  src/Abstractions/NexusMods.Abstractions.Settings/SettingsBuilder/ISettingsBuilder.cs
  src/Abstractions/NexusMods.Abstractions.Settings/SettingsBuilder/ISettingsStorageBackendBuilder.cs
  src/Abstractions/NexusMods.Abstractions.Settings/SettingsStorageBackendId.cs
  src/NexusMods.App.UI/Settings/LanguageSettings.cs
  src/NexusMods.DataModel/DataModelSettings.cs
  src/NexusMods.DataModel/Services.cs
  src/NexusMods.DataModel/Settings/DataStoreSettingsBackend.cs
  src/NexusMods.DataModel/Settings/DataStoreSettingsBackendEntity.cs
  src/NexusMods.Settings/NexusMods.Settings.csproj
  src/NexusMods.Settings/SettingsBuilder.cs
  src/NexusMods.Settings/SettingsManager.Setup.cs
  src/NexusMods.Settings/SettingsManager.cs
Labels: area-settings

#1208 Perf: Persist ingested files in DiskToFileTree in batch
  src/Abstractions/NexusMods.Abstractions.Loadouts.Synchronizers/ALoadoutSynchronizer.cs
Labels: meta-performance

#1219 Add useful APIs for Loadouts
  src/Abstractions/NexusMods.Abstractions.Loadouts/Extensions/LoadoutExtensions.cs
  src/Abstractions/NexusMods.Abstractions.Loadouts/Extensions/ModExtensions.cs
  src/Games/NexusMods.Games.StardewValley/Emitters/MissingSMAPIEmitter.cs
  src/Games/NexusMods.Games.StardewValley/Emitters/SMAPIGameVersionDiagnosticEmitter.cs
  src/Games/NexusMods.Games.StardewValley/Emitters/SMAPIModDatabaseCompatibilityDiagnosticEmitter.cs
Labels: tech-debt

#1185 Performance PR #2
  Directory.Packages.props
  NexusMods.App.sln.DotSettings
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/Harness/DummyFileStore.cs
  src/Abstractions/NexusMods.Abstractions.IO/IFileStore.cs
  src/Abstractions/NexusMods.Abstractions.Loadouts.Synchronizers/ALoadoutSynchronizer.cs
  src/Extensions/NexusMods.Extensions.Hashing/AbsolutePathExtensions.cs
  src/NexusMods.DataModel/FileHashCache.cs
  src/NexusMods.DataModel/FileOriginRegistry.cs
  src/NexusMods.DataModel/NxFileStore.cs
  tests/NexusMods.DataModel.Tests/ArchiveManagerTests.cs
  tests/NexusMods.DataModel.Tests/Harness/ALoadoutSynrconizerTest.cs
Labels: meta-performance

#1240 Added: LoadoutSynchronizer Step by Step Benchmarks
  Directory.Packages.props
  benchmarks/NexusMods.Benchmarks/Assets.cs
  benchmarks/NexusMods.Benchmarks/Assets/Loadouts/FileLists/3dnpc-allfiles-59447paths.br
  benchmarks/NexusMods.Benchmarks/Assets/Loadouts/FileLists/skyrimse-47paths.br
  benchmarks/NexusMods.Benchmarks/Assets/Loadouts/FileLists/stardewvalley-1.6-allfiles-3514paths.br
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/ApplyOnly/FileTreeToDisk.cs
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/Common/FlattenedLoadoutToFileTree.cs
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/Common/GetPreviousState.cs
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/Common/LoadoutToFlattenedLoadout.cs
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/Harness/ABenchmarkDatamodel.cs
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/Harness/ASynchronizerBenchmark.cs
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/IngestOnly/BackupNewFiles.cs
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/IngestOnly/DiskToFileTree.cs
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/IngestOnly/FileTreeToFlattenedLoadout.cs
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/IngestOnly/FlattenedLoadoutToLoadout.cs
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/IngestOnly/GetDiskState.cs
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/IngestOnly/GetState.cs
  benchmarks/NexusMods.Benchmarks/NexusMods.Benchmarks.csproj
  benchmarks/NexusMods.Benchmarks/Program.cs
  src/Abstractions/NexusMods.Abstractions.Loadouts.Synchronizers/ALoadoutSynchronizer.cs
  src/Abstractions/NexusMods.Abstractions.Loadouts.Synchronizers/NexusMods.Abstractions.Loadouts.Synchronizers.csproj
  src/Extensions/NexusMods.Extensions.Hashing/AbsolutePathExtensions.cs
  tests/NexusMods.DataModel.Tests/Harness/ADataModelTest.cs
  tests/NexusMods.DataModel.Tests/Resources/data.test
  tests/NexusMods.DataModel.Tests/Startup.cs
Labels: meta-performance

#1251 Download registry to MnemonicDB
  Directory.Packages.props
  NexusMods.App.sln
  benchmarks/NexusMods.Benchmarks/Benchmarks/Loadouts/Harness/ABenchmarkDatamodel.cs
  src/Abstractions/NexusMods.Abstractions.FileStore/ArchiveMetadata/FilePathMetadata.cs
  src/Abstractions/NexusMods.Abstractions.FileStore/Downloads/DownloadAnalysis.cs
  src/Abstractions/NexusMods.Abstractions.FileStore/Downloads/DownloadId.cs
  src/Abstractions/NexusMods.Abstractions.FileStore/IFileOriginRegistry.cs
  src/Abstractions/NexusMods.Abstractions.FileStore/NexusMods.Abstractions.FileStore.csproj
  src/Abstractions/NexusMods.Abstractions.FileStore/TypeFinder.cs
  src/Abstractions/NexusMods.Abstractions.Installers/IArchiveInstaller.cs
  src/Abstractions/NexusMods.Abstractions.Installers/ModInstallerInfo.cs
  src/Abstractions/NexusMods.Abstractions.MnemonicDB.Attributes/HashAttribute.cs
  src/Abstractions/NexusMods.Abstractions.MnemonicDB.Attributes/NexusMods.Abstractions.MnemonicDB.Attributes.csproj
  src/Abstractions/NexusMods.Abstractions.MnemonicDB.Attributes/RelativePathAttribute.cs
  src/Abstractions/NexusMods.Abstractions.MnemonicDB.Attributes/SizeAttribute.cs
  src/Abstractions/NexusMods.Abstractions.MnemonicDB.Attributes/ULongAttribute.cs
  src/Abstractions/NexusMods.Abstractions.NexusWebApi/NexusModsArchiveMetadata.cs
  src/Abstractions/NexusMods.Abstractions.NexusWebApi/Types/FileId.cs
  src/Abstractions/NexusMods.Abstractions.NexusWebApi/Types/ModId.cs
  src/Games/NexusMods.Games.StardewValley/Installers/SMAPIInstaller.cs
  src/Games/NexusMods.Games.TestHarness/Verbs/StressTest.cs
  src/Networking/NexusMods.Networking.Downloaders/DownloadService.cs
  src/Networking/NexusMods.Networking.Downloaders/Interfaces/IDownloadService.cs
  src/NexusMods.App.Cli/ProtocolVerbs.cs
  src/NexusMods.App.Cli/Types/DownloadHandlers/NxmDownloadProtocolHandler.cs
  src/NexusMods.App.UI/Pages/LoadoutGrid/LoadoutGridViewModel.cs
  src/NexusMods.App.UI/Windows/MainWindowViewModel.cs
  src/NexusMods.DataModel/ArchiveContents/ArchivedFile.cs
  src/NexusMods.DataModel/ArchiveContents/ArchivedFileContainer.cs
  src/NexusMods.DataModel/ArchiveInstaller.cs
  src/NexusMods.DataModel/Attributes/DiskState.cs
  src/NexusMods.DataModel/CommandLine/Verbs/ArchiveVerbs.cs
  src/NexusMods.DataModel/CommandLine/Verbs/LoadoutManagementVerbs.cs
  src/NexusMods.DataModel/FileOriginRegistry.cs
  src/NexusMods.DataModel/NexusMods.DataModel.csproj
  src/NexusMods.DataModel/Services.cs
  tests/Games/NexusMods.Games.AdvancedInstaller.Tests/DeploymentDataExtensionTests.cs
  tests/Games/NexusMods.Games.AdvancedInstaller.UI.Tests/Helpers/AdvancedInstallerTestHelpers.cs
  tests/Games/NexusMods.Games.AdvancedInstaller.UI.Tests/NexusMods.Games.AdvancedInstaller.UI.Tests.csproj
  tests/Games/NexusMods.Games.FOMOD.Tests/FomodXmlInstallerTests.cs
  tests/Games/NexusMods.Games.TestFramework/AGameTest.cs
  tests/Games/NexusMods.Games.TestFramework/AModInstallerTest.cs
  tests/NexusMods.DataModel.Tests/ApplyServiceTests.cs
  tests/NexusMods.DataModel.Tests/ArchiveInstallerTests.cs
  tests/NexusMods.DataModel.Tests/FileOriginRegistryTests.cs
  tests/NexusMods.DataModel.Tests/Harness/ADataModelTest.cs
  tests/NexusMods.DataModel.Tests/Startup.cs
  tests/NexusMods.DataModel.Tests/ToolTests.cs
  tests/NexusMods.UI.Tests/AVmTest.cs
Labels: area-data-store

#1259 Added: Vanilla/Original Game State Reuse
  src/Abstractions/NexusMods.Abstractions.DiskState/IDiskStateRegistry.cs
  src/Abstractions/NexusMods.Abstractions.GameLocators/GameDomain.cs
  src/Abstractions/NexusMods.Abstractions.GameLocators/NexusMods.Abstractions.GameLocators.csproj
  src/Abstractions/NexusMods.Abstractions.Loadouts.Synchronizers/ALoadoutSynchronizer.cs
  src/Abstractions/NexusMods.Abstractions.Loadouts.Synchronizers/ILoadoutSynchronizer.cs
  src/Abstractions/NexusMods.Abstractions.Loadouts.Synchronizers/IStandardizedLoadoutSyncronizer.cs
  src/Abstractions/NexusMods.Abstractions.Serialization/DataModel/EntityCategory.cs
  src/NexusMods.DataModel/Attributes/DiskState.cs
  src/NexusMods.DataModel/Loadouts/DiskStateRegistry.cs
  src/NexusMods.DataModel/Services.cs
  src/NexusMods.DataModel/Settings/DataStoreSettingsBackend.cs
  tests/NexusMods.DataModel.Tests/ALoadoutSynchronizerTests.cs
  tests/NexusMods.StandardGameLocators.TestHelpers/StubbedGames/StubbedGame.cs
Labels: area-data-store

#1279 Added: Remove Loadouts & Unmanage Games
  Directory.Packages.props
  src/Abstractions/NexusMods.Abstractions.DiskState/IDiskStateRegistry.cs
  src/Abstractions/NexusMods.Abstractions.Loadouts.Synchronizers/ALoadoutSynchronizer.cs
  src/Abstractions/NexusMods.Abstractions.Loadouts.Synchronizers/ILoadoutSynchronizer.cs
  src/Abstractions/NexusMods.Abstractions.Loadouts/ILoadoutRegistry.cs
  src/Abstractions/NexusMods.Abstractions.MnemonicDB.Attributes/BoolAttribute.cs
  src/Games/NexusMods.Games.BethesdaGameStudios/BethesdaLoadoutSynchronizer.cs
  src/NexusMods.App.UI/Controls/GameWidget/GameWidget.axaml.cs
  src/NexusMods.App.UI/Controls/GameWidget/GameWidgetDesignViewModel.cs
  src/NexusMods.App.UI/Controls/GameWidget/GameWidgetViewModel.cs
  src/NexusMods.App.UI/Controls/GameWidget/IGameWidgetViewModel.cs
  src/NexusMods.App.UI/Pages/MyGames/MyGamesViewModel.cs
  src/NexusMods.DataModel/Attributes/DiskState.cs
  src/NexusMods.DataModel/CommandLine/Verbs/LoadoutManagementVerbs.cs
  src/NexusMods.DataModel/Loadouts/DiskStateRegistry.cs
  src/NexusMods.DataModel/Loadouts/LoadoutRegistry.cs
  tests/Games/NexusMods.Games.TestFramework/AGameTest.cs
  tests/NexusMods.DataModel.Tests/ALoadoutSynchronizerTests.cs
  tests/NexusMods.DataModel.Tests/Harness/ADataModelTest.cs
  tests/NexusMods.StandardGameLocators.TestHelpers/StubbedGames/StubbedGame.cs
Labels: area-data-store
